$ThemeColor: #f8b139;

.header {
  position: absolute;
  top: 0;
  z-index: 100;
  box-sizing: border-box;
  width: 100%;
  font-size: 0;
  color: #fff;
}

.contact,
.menu {
  display: flex;
  align-items: center;
  height: 50%;
  padding-left: 25%;
  font-size: 16px;
}

.contact {
  overflow: hidden;
  background-color: rgba($color: #555, $alpha: 0.8);

  li {
    margin-right: 2%;

    > i {
      display: inline-block;
      margin-right: 5px;
      color: $ThemeColor;
    }
  }
}

.menu {
  background-color: rgba($color: #000, $alpha: 0.6);

  .menu_item {
    box-sizing: border-box;
    display: inline-block;
    padding: 6px 12px;
    white-space: nowrap;

    &:hover {
      color: $ThemeColor;
      cursor: pointer;
      border-bottom: 1px solid $ThemeColor;
    }
  }

  .my_dropdown {
    position: relative;

    ul {
      position: absolute;
      top: 100%;
      left: 12px;
      display: none;
      min-width: 100%;
      overflow: hidden;
      color: #000;
      background-color: #fff;
      border-radius: 4px;
      outline: none;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    }

    li {
      padding: 0.3rem;
      overflow: hidden;
    }

    &:hover {
      color: #fff;
      cursor: pointer;
      border-bottom: 0;
    }

    &:hover ul {
      display: block;
    }
  }
}

.header_logo {
  position: absolute;
  top: 0;
  left: 10%;
  height: 100%;
  background: url('/app/assets/logo.png') center center no-repeat;
  background-color: $ThemeColor;
  background-size: auto 100%;
  border-radius: 4px;
}

@media screen and (max-width: 1060px) {
  .contact,
  .menu {
    font-size: 14px;
  }

  .menu {
    justify-content: space-around;

    .menu_item {
      padding: 0;
    }

    #train {
      padding: 0;
      font-size: 14px;
    }
  }
}

@media screen and (max-width: 710px) {
  .contact,
  .menu {
    font-size: 12px;
  }

  .menu {
    #train {
      font-size: 12px;
    }
  }
}
