<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta name="author" content="czb_80@163.com redbon.cn">
    <meta name="keywords" content="<%= htmlWebpackPlugin.options.keywords %>" >
    <meta name="description" content="<%= htmlWebpackPlugin.options.description %>" >
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,initial-scale=1.0,user-scalable=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://at.alicdn.com/t/font_573292_9co338dxxcvoyldi.css">
</head>
<body>
    <div id="root"></div>
</body>
</html>